In [1]:
import nltk

In [2]:
nltk.__version__

'3.8.1'

In [4]:
nltk.download('punkt')     # tokenization
nltk.download('stopwords') # stopword removal
nltk.download('averaged_perceptron_tagger') # POS tagging
nltk.download('wordnet')   # WordNet database and lemmatization
nltk.download('omw-1.4')   # Stemming
nltk.download('indian')    # Indian language POS tagging
nltk.download('maxent_ne_chunker') # chunking

[nltk_data] Downloading package punkt to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package indian to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package indian is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!

True

### Sample example

In [5]:
sent = "They told that their ages are 25 27 and 31 respectively."

In [ ]:
#Find the average of ages mentioned in the above sentence

In [8]:
lst = sent.split(sep=" ")
lst

['They',
 'told',
 'that',
 'their',
 'ages',
 'are',
 '25',
 '27',
 'and',
 '31',
 'respectively.']

In [15]:
age =[]
for x in lst:
    if x.isdigit():
        age.append(int(x))

In [16]:
age

[25, 27, 31]

In [21]:
avg = sum(age)/len(age)
avg

27.666666666666668

In [24]:
ages= [int(word) for word in sent.split() if word.isdigit()]
sum(ages)/len(age)

27.666666666666668

In [23]:
import numpy as np 
np.mean([int(word) for word in sent.split() if word.isdigit()])

27.666666666666668

### Tokenization

In [25]:
sent = 'Hello friends! How are you? Welcome to Python Programming.'

In [26]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [28]:
#segmemtation
sent_tokenize(sent)

['Hello friends!', 'How are you?', 'Welcome to Python Programming.']

In [44]:
#word segmentation
lst = word_tokenize(sent)
lst

['Hello',
 'friends',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Programming',
 '.']

In [50]:
# Find percentage of punctuation symbol present in it
punctuation_count = sum(1 for char in lst if char.isalnum() != True)
punctuation_count

3

In [51]:
(punctuation_count/len(lst))*100

25.0

In [45]:
punctuation_count1 = sum(1 for char in lst if not char.isalnum())
punctuation_count1

3

In [48]:
punch_count = len([char for char in word_tokenize(sent) if not char.isalnum()])
punch_count/len(word_tokenize(sent))

0.25

In [56]:
ord('A')

65

In [62]:
import sys
sys.getsizeof("s1234567")

57

In [66]:
chr(83)

'S'

In [77]:
chr(1500)

'ל'

In [80]:
char = '\u0940'

In [81]:
print(char)

ी

In [83]:
char = '\u0935\u0940'
print(char)

वी

In [93]:
char = '\u0926\u093F\u092F\u093E'

In [94]:
print(char)

दिया

In [105]:
names = ['संतोषवार दिव्यानी', 'संस्कार  अग्रवाल', 'मानस ']

In [106]:
for name in names:
    if name.startswith('स'):
        print(name)

संतोषवार दिव्यानी
संस्कार  अग्रवाल

In [100]:
name.split()

['दिव्यानी', 'संतोषवार']

In [98]:
#name.replace( 'दि', 'शी')

'शीव्यानी संतोषवार'

In [101]:
name.find('ष')

13

In [108]:
mtext = 'राजगढ़ एक पहाड़ी किला है जो भारत के महाराष्ट्र राज्य के पुणे जिले में स्थित है। इसे मुरुमदेव के नाम से भी जाना जाता है। यह किला लगभग 26 वर्षों तक छत्रपती शिवाजी महाराज के शासन में मराठा साम्राज्य की राजधानी थी। बाद में राजधानी को रायगढ़'

In [109]:
word_tokenize(mtext)

['राजगढ़',
 'एक',
 'पहाड़ी',
 'किला',
 'है',
 'जो',
 'भारत',
 'के',
 'महाराष्ट्र',
 'राज्य',
 'के',
 'पुणे',
 'जिले',
 'में',
 'स्थित',
 'है।',
 'इसे',
 'मुरुमदेव',
 'के',
 'नाम',
 'से',
 'भी',
 'जाना',
 'जाता',
 'है।',
 'यह',
 'किला',
 'लगभग',
 '26',
 'वर्षों',
 'तक',
 'छत्रपती',
 'शिवाजी',
 'महाराज',
 'के',
 'शासन',
 'में',
 'मराठा',
 'साम्राज्य',
 'की',
 'राजधानी',
 'थी।',
 'बाद',
 'में',
 'राजधानी',
 'को',
 'रायगढ़']

In [110]:
mtext

'राजगढ़ एक पहाड़ी किला है जो भारत के महाराष्ट्र राज्य के पुणे जिले में स्थित है। इसे मुरुमदेव के नाम से भी जाना जाता है। यह किला लगभग 26 वर्षों तक छत्रपती शिवाजी महाराज के शासन में मराठा साम्राज्य की राजधानी थी। बाद में राजधानी को रायगढ़'

**space tokenizer**

In [138]:

f = open(r"D:\NLP\day1\mydata.txt")
data = f.read()

In [139]:
# import the class
from nltk.tokenize import SpaceTokenizer

# create the object
tk = SpaceTokenizer()

# tokenize the data
tk.tokenize(data)

['Hello',
 'friends!',
 'How',
 'are',
 'you?\nWelcome',
 'to',
 'the',
 'world',
 'of',
 'Python',
 'Programming.']

### TAB TOKENIZER

In [171]:

f = open(r"D:\NLP\day1\mydata.txt")
data = f.read()
data

'Hello friends🙏!😉How are you?\nWelcome🫴 to the world🌎 of Python 🐍Programming💻❤️.'

In [146]:
from nltk.tokenize import TabTokenizer
tbk = TabTokenizer()
tbk.tokenize(data)

['Hello friends!',
 'How are you?\nWelcome to the world of',
 'Python Programming.']

### LineTokenizer

In [148]:
from nltk.tokenize import LineTokenizer
ltk = LineTokenizer()
ltk.tokenize(data)

['Hello friends!\tHow are you?',
 'Welcome to the world of\tPython Programming.']

### WhitespaceTokenizer

In [149]:
from nltk.tokenize import WhitespaceTokenizer
wtk = WhitespaceTokenizer()
wtk.tokenize(data)

['Hello',
 'friends!',
 'How',
 'are',
 'you?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 'Python',
 'Programming.']

In [150]:
from nltk.tokenize import MWETokenizer
mwe = MWETokenizer()
mwe.tokenize(data)

['H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'f',
 'r',
 'i',
 'e',
 'n',
 'd',
 's',
 '!',
 '\t',
 'H',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u',
 '?',
 '\n',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'o',
 'f',
 '\t',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'P',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 '.']

In [151]:
sent1 = 'The Van Rossum is Python creator, visiting pune this week. the development communication is very eager to meet Van Rossum.'
print(sent1)

The Van Rossum is Python creator, visiting pune this week. the development communication is very eager to meet Van Rossum.

In [152]:
word_tokenize(sent1)

['The',
 'Van',
 'Rossum',
 'is',
 'Python',
 'creator',
 ',',
 'visiting',
 'pune',
 'this',
 'week',
 '.',
 'the',
 'development',
 'communication',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van',
 'Rossum',
 '.']

In [156]:
from nltk.tokenize import MWETokenizer
mwe = MWETokenizer(separator=' ')

# add Multi World eXPRESSION
mwe.add_mwe(('Van', 'Rossum'))

mwe.tokenize(word_tokenize(sent1))

['The',
 'Van Rossum',
 'is',
 'Python',
 'creator',
 ',',
 'visiting',
 'pune',
 'this',
 'week',
 '.',
 'the',
 'development',
 'communication',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van Rossum',
 '.']

In [161]:
sent = 'Hello friends :) ! How are you? Welcome to the world of	Python Programming . ;) '
print(sent)

Hello friends :) ! How are you? Welcome to the world of	Python Programming . ;)

In [172]:
from nltk.tokenize import TweetTokenizer
twt = TweetTokenizer()
twt.tokenize(data)

['Hello',
 'friends',
 '🙏',
 '!',
 '😉',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 '🫴',
 'to',
 'the',
 'world',
 '🌎',
 'of',
 'Python',
 '🐍',
 'Programming',
 '💻',
 '❤',
 '️',
 '.']

### Custom Tokenizer

In [174]:
import re 

def custom_tokenizer(text):
    return re.split(r"[.,;?!\s]+",text)
text = "This is some text with punctuation > Let's tokenize. Is it okay?"
tokens = custom_tokenizer(text)
print("Tokens:")
for token in tokens:
    print(token)

Tokens:
This
is
some
text
with
punctuation
>
Let's
tokenize
Is
it
okay

### https://mitu.co.in/dataset
### download: student3.tsv

In [177]:
f = open(r"D:\NLP\day1\student3.tsv")
data = f.read()

In [186]:
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [196]:
x = data.split("\n")
x.pop(0)
lst = []

for i in x:
        sub = i.split("\t")
        lst.append(sub)
lst

[['1', 'anil', 'TE', '56.77', '22'],
 ['2', 'amit', 'TE', '59.77', '21'],
 ['3', 'aniket', 'BE', '76.88', '19'],
 ['4', 'ajinkya', 'TE', '69.66', '20'],
 ['5', 'asha', 'TE', '63.28', '20'],
 ['6', 'ayesha', 'BE', '49.55', '20'],
 ['7', 'amar', 'BE', '65.34', '19'],
 ['8', 'amita', 'BE', '68.33', '23'],
 ['9', 'amol', 'TE', '56.75', '20'],
 ['10', 'anmol', 'BE', '78.66', '21'],
 ['']]

In [197]:
newdata = []
for x in data.split('\n'):
    inner_list = []
    for y in x.split('\t'):
        if y.isdigit():
            inner_list.append(int(y))
        elif y.find('.')>0 :
            inner_list.append(float(y))
        else:
            inner_list.append(y)
    newdata.append(inner_list)
newdata

[['roll', 'name', 'class', 'marks', 'age'],
 [1, 'anil', 'TE', 56.77, 22],
 [2, 'amit', 'TE', 59.77, 21],
 [3, 'aniket', 'BE', 76.88, 19],
 [4, 'ajinkya', 'TE', 69.66, 20],
 [5, 'asha', 'TE', 63.28, 20],
 [6, 'ayesha', 'BE', 49.55, 20],
 [7, 'amar', 'BE', 65.34, 19],
 [8, 'amita', 'BE', 68.33, 23],
 [9, 'amol', 'TE', 56.75, 20],
 [10, 'anmol', 'BE', 78.66, 21],
 ['']]